
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white; font-family: 'Haettenschweiler'; font-size: xx-large;font-weight: normal">Ricky-And-Morty Heroes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto"></ul>
     <form class="form-inline my-2 my-lg-0">
        <input type="search" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel
         name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search employees..." required>
     </form>
  </div>
</nav>

<div class="container2" ><button type="button" class="btn btn-secondary" (click)="showAll()"> Learn more about all heroes</button></div>
<br>
<div class="container" id="main-container">
<div  class="row">
  <div *ngFor="let hero of heroes" class="col-md-6 col-xl-3" >
     <div class="card m-b-30"  >
        <div class="card-body row">
           <div class="col-6">
             <div class="modalContent modalToggle">
              <a href=""><img src="{{hero?.image}}" alt="" class="img-fluid rounded-circle w-60"></a>
             </div>
           </div>
           <div class="col-6 card-title align-self-center mb-0">
              <h5><a>{{hero?.name}}</a></h5>
           </div>
        </div>
       <div class="container" >
         <button type="button" class="btn btn-secondary" (click)="showLearn(hero)"> Learn more about hero</button>
       </div>
       <br>
       <div *ngIf="hero.showOnScreen">
         <ul class="list-group list-group-flush">
           <li class="list-group-item"><i class="fa fa-envelope float-right"></i> <font style="font-weight:bold">Status :</font>  {{hero?.status}}</li>
           <li class="list-group-item"><i class="fa fa-envelope float-right"></i> <font style="font-weight:bold">Origin :</font>  {{hero?.origin}}</li>
           <li class="list-group-item"><i class="fa fa-phone float-right"></i><font style="font-weight:bold">Gender :</font> {{hero?.gender}}</li>
           <li class="list-group-item"><i class="fa fa-envelope float-right"></i> <font style="font-weight:bold">Species :</font>  {{hero?.species}}</li>
           <li class="list-group-item"><i class="fa fa-phone float-right"></i><font style="font-weight:bold">Type :</font> {{hero?.type}}</li>
           <li class="list-group-item"><i class="fa fa-envelope float-right"></i> <font style="font-weight:bold">Created :</font>  {{hero?.created}}</li>
           <li>
         </ul>
       </div>
     </div>
     </div>

  </div>


</div>

