<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
  <a class="navbar-brand" style="color:white; font-family: 'Haettenschweiler';
   font-size: xx-large;font-weight: normal">Rick-And-Morty </a>
    <ul class="navbar-nav">
    <li class="nav-item nav-link"><a routerLink="/" style="font-family: Montserrat">Герои</a></li>
    <li class="nav-item nav-link"><a routerLink="/episode" style="font-family: Montserrat" >Эпизоды</a></li>
    <li class="nav-item nav-link"><a routerLink="/location" style="font-family: Montserrat">Локации</a> </li>
      <div class="modalContent modalToggle">
        <button class="btn btn-outline-primary" (click)="open(content)" ></button>

        <div class="imgcontainer">
          <ng-template #content let-modal>
            <button type="button" class="close" aria-label="Close"
                    (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
            <img src="img_avatar2.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
          <label ><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>

          <label ><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <button type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>



      <li class="nav-item nav-link"><button class="btn btn-outline-primary" routerLink="/user">
      <img src="user/us2.png" alt="" ></button></li>
<!--    <li class="nav-item nav-link"><a routerLink="/user"><img src='user/us2.png' ></a></li>-->
  </ul>
    </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarColor02" aria-controls="navbarColor02"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



<!--  <div class="collapse navbar-collapse" id="navbarColor02">-->
<!--    <ul class="navbar-nav mr-auto"></ul>-->
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input type="search" (ngModelChange)="searchEmployees(key.value)"-->
<!--             #key="ngModel" ngModel name="key" id="searchName"-->
<!--             class="form-control mr-sm-2" placeholder="Search heroes..." required>-->
<!--    </form>-->
<!--  </div>-->
</nav>
<div class="container">
<!--<app-home></app-home>-->
  <router-outlet></router-outlet>
</div>




