<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white; font-family: 'Haettenschweiler';
   font-size: xx-large;font-weight: normal">Rick-And-Morty </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
          aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item nav-link">
        <a routerLink="/" style="font-family: Montserrat" >Герои</a>
      </li>
       <li class="nav-item nav-link">
         <a routerLink="/episode" style="font-family: Montserrat" >Эпизоды</a>
      </li>
       <li class="nav-item nav-link">
         <a routerLink="/location" style="font-family: Montserrat">Локации</a>
      </li>
      <li class="nav-item nav-link">
         <a routerLink="/db-heroes" style="font-family: Montserrat">Избранное</a>
      </li>

    </ul>

  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>




