
<div class="container2" ><button type="button" class="btn btn-secondary" (click)="showAll()" style="font-family: Montserrat">
  Learn more about all heroes</button>
</div>
<br>
<div class="container2"><a class="navbar-brand" style="color:white; font-family: 'Montserrat';
        font-size: x-large;font-weight: normal"> Количество героев на странице: {{this.countpart}} </a>
</div>
<div class="container2">
  <a class="navbar-brand" style="color:white; font-family: 'Montserrat'; font-size: x-large;font-weight: normal">Gender: </a>

  <select [(ngModel)]="gid" (ngModelChange)="GenderMethod(gid)" class="marg">
    <option *ngFor="let gend of gender " [ngValue]="gend.id">{{gend.name}}</option>
  </select>
  <a class="navbar-brand" style="color:white; font-family: 'Montserrat'; font-size: x-large;font-weight: normal">Status: </a>

  <select [(ngModel)]="stid" (ngModelChange)="StatusMethod(stid)" class="marg">
    <option *ngFor="let stat of status " [ngValue]="stat.id"  >{{stat.status}}</option>
  </select>
  <a class="navbar-brand" style="color:white; font-family: 'Montserrat'; font-size: x-large;font-weight: normal">Species: </a>

  <select [(ngModel)]="spid" (ngModelChange)="SpeciesMethod(spid)" class="marg">
    <option *ngFor="let spec of species " [ngValue]="spec.id"  >{{spec.species}}</option>
  </select>
</div>
<br>

<div class="container" id="main-container">
  <div  class="row">
    <div *ngFor="let hero of heroes" class="col-md-4" >
      <div class="card m-b-30"  >
        <div class="card-body row">
          <div class="col-6">
            <div class="modalContent modalToggle">
              <button class="btn btn-outline-primary" (click)="open(content)" >
                <img src="{{hero?.image}}" alt="" class="img-fluid  w-80"></button>
              <ng-template #content let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">{{hero.name}}</h4>
                  <button type="button" class="close" aria-label="Close"
                          (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <img src="{{hero?.image}}" alt="">
              </ng-template>
            </div>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5><a>{{hero?.name}}</a></h5>
          </div>
        </div>



        <div class="container" >
          <button type="button" class="btn btn-secondary" (click)="open(content1)" style="font-family: Montserrat"> Learn more about hero</button>
        </div>
        <br>
        <ng-template #content1 let-modal>
          <div class="modal-header">
            <h4 class="modal-title" style="font-family: Montserrat">{{hero.name}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="col-6" >
            <img src="{{hero?.image}}"  alt="" class="img-fluid rounded-circle w-80">
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" ><i class="fa fa-envelope float-left"></i> <font style="font-weight:bold">Status :</font>  {{hero?.status}}</li>
            <li class="list-group-item"><i class="fa fa-envelope float-left"></i> <font style="font-weight:bold">Origin :</font>  {{hero?.origin}}</li>
            <li class="list-group-item"><i class="fa fa-phone float-left"></i><font style="font-weight:bold">Gender :</font> {{hero?.gender}}</li>
            <li class="list-group-item"><i class="fa fa-envelope float-left"></i> <font style="font-weight:bold">Species :</font>  {{hero?.species}}</li>
            <li class="list-group-item"><i class="fa fa-phone float-left"></i><font style="font-weight:bold">Type :</font> {{hero?.type}}</li>
            <li class="list-group-item"><i class="fa fa-envelope float-left"></i> <font style="font-weight:bold">Created :</font>  {{hero?.created}}</li>
            <li>
          </ul>
        </ng-template>
        <br>
        <div *ngIf="hero.showOnScreen">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i> <font style="font-weight:bold">Status :</font>  {{hero?.status}}</li>
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i> <font style="font-weight:bold">Origin :</font>  {{hero?.origin}}</li>
            <li class="list-group-item"><i class="fa fa-phone float-right"></i><font style="font-weight:bold">Gender :</font> {{hero?.gender}}</li>
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i> <font style="font-weight:bold">Species :</font>  {{hero?.species}}</li>
            <li class="list-group-item"><i class="fa fa-phone float-right"></i><font style="font-weight:bold">Type :</font> {{hero?.type}}</li>
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i> <font style="font-weight:bold">Created :</font>  {{hero?.created}}</li>
            <li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

